<div class="wrappper">
  <div class="header">

    <h3> Project Board
      <span class="addevent"><button type="button" class="btn btn-primary" (click)="addEvent(eventmodal)"
          data-toggle="modal" data-target="#exampleModalCenter">+</button></span>
    </h3>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true" #eventmodal>
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form">
              <div class="form-group full-width-input">
                <label>Task</label>
                <input class="form-control" placeholder="task" formControlName="task" required>
              </div>
              <div class="form-group full-width-input">
                <label>Status</label>
                <select class="form-control" formControlName="status" id="status">
                  <option>Development</option>
                  <option>Inprocess</option>
                  <option>Done</option>
                </select>
                <!-- <input class="form-control" placeholder="status" formControlName="status" #Cstatus required> -->

              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="modalCallback()" data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- data show  Modal -->


  <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" #eventmodal>
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><strong>Task Details</strong></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form">
            <div class="form-group full-width-input">
              <label>Task</label>
              <input class="form-control" placeholder="task" formControlName="task">
              <label>Status</label>
              <select class="form-control" formControlName="status" id="status">
                <option>Development</option>
                <option>Inprocess</option>
                <option>Done</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  data-dismiss="modal"(click)= updateFormevent()>Update</button>
        </div>
      </div>
    </div>
  </div>


  <div class="container">

    <div class="Development">
      <div class="card-header">
        <h5>Development</h5>
      </div>
      <div cdkDropList #developmentList="cdkDropList" [cdkDropListData]="development"
        [cdkDropListConnectedTo]="[inprocessList,doneList]" class="body" (cdkDropListDropped)="drop($event)">
        <div class="box" *ngFor="let item of development" cdkDrag (click)="showdata(showeventmodal,item)" data-toggle="modal"
          data-target="#ModalCenter">{{item.task}} </div>

      </div>
    </div>

    <div class="Inprocess">
      <div class="card-header">
        <h5>In process</h5>
      </div>

      <div cdkDropList #inprocessList="cdkDropList" [cdkDropListData]="inprocess"
        [cdkDropListConnectedTo]="[developmentList,doneList]" class="body" (cdkDropListDropped)="drop($event)">
        <div class="box" *ngFor="let item of inprocess" cdkDrag (click)="showdata(showeventmodal,item)" data-toggle="modal"
        data-target="#ModalCenter">{{item.task}} </div>
      </div>

    </div>
    <div class="Done">
      <div class="card-header">
        <h5>Done</h5>
      </div>

      <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[inprocessList,developmentList]" class="body" (cdkDropListDropped)="drop($event)">
        <div class="box" *ngFor="let item of done" cdkDrag (click)="showdata(showeventmodal,item)" data-toggle="modal"
        data-target="#ModalCenter">{{item.task}}</div>
      </div>

    </div>
    
  </div>
</div>