

<button type="button" class="btn btn-primary" (click)="addEvent(eventmodal)"data-toggle="modal" data-target="#exampleModalCenter">
  Create a Task
</button>

<!-- Modal -->
<!-- <ng-template #eventmodal> -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"#eventmodal>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group full-width-input">
            <label>Task</label>
            <input class="form-control" placeholder="task" formControlName="task" #Ctask required>
          </div>
          <div class="form-group full-width-input">
            <label>Status</label>
            <!-- <select class="form-control" id="status">
              <option>Development</option>
              <option>Inprocess</option>
              <option>Done</option> 
            </select>-->
            <input class="form-control" placeholder="status" formControlName="status" #Cstatus required>

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="modalCallback()">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- </ng-template> -->
<div class="getdata">
  <button type="button" class="btn btn-secondary" (click)=getEvents()>ShowDATA</button>
<h2></h2>
</div>