.wrapper{
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
}
.navbar-inverse{
    width:20%;
    background-color: rgb(14, 15, 15);
    height: auto;

}
#sidebar-wrapper{
    height:100%
}
.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;  
    text-align: center;  
}
.logo{
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}
