<div class="wrapper">

    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-nav">
                <a href="#">
                    Task Assigner
                </a>
            </li>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Home</a>
            </li>
        </ul>


    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>