.wrapper{
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
}
.navbar-inverse{
    width:20%;
    background-color: rgb(41, 51, 82);
    height: auto;

}
#sidebar-wrapper{
    height:100%
}
.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;  
    text-align: center;  
}
.logo{
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}
.sidebar-nav li a:hover{
     background-color: rgb(128, 142, 180);
 }
 .fa-angle-left{
     font-size: 100px;
 }
 .arrowbtn{
     margin-left: 185px;

 }
 .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(236, 228, 228);
    color: rgb(72, 70, 175);
    padding: 10px 15px;
    border: none;
  }
  .container{
      margin-left: 150px;
  }