<div class="wrapper">

    <nav class="navbar navbar-inverse navbar-fixed-top " id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav text-white">
            <li class="sidebar-nav">
                <a href="#">
                    <h4><strong>Task Assigner</strong></h4>
                    <div>
                        <img class="logo" src="\assets\task-logo.png">
                    </div>
                </a>
            </li>
            <li>
                <a href="#">Kanban Board</a>
            </li>
            <li>
                <a href="#">Project settings</a>
            </li>
            <li>
                <a href="#">Releases</a>
            </li>
            <li>
                <a href="#">Issue and Filter</a>
            </li>
            <li>
                <a href="#">Pages</a>
            </li>
            <li>
                <a href="#">Report</a>
            </li>
            <li>
                <a href="#">Component</a>
            </li>
        </ul>


    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>